/* Geral */

:root {
  --font: #333;
  --grey: #959bb5;
  --chinese-black: #0a1123;
  --american-blue: #3a3e6c;
  --ube: #8387c3;
  --white: #EAF0F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;

  color: var(--font);
}

body {
  background: linear-gradient(135deg,
  var(--chinese-black),
  var(--american-blue));

  height: 100vh;
  
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* = heigthMain = heigthBody = 100vh*/
}

/* --- Main Containers --- */

.hide{
  display: none;
}

#todo-container{
  max-width: 500px;
  background-color: var(--white);
  padding: 1.5rem;
  
}

#todo-container header{
  padding: 0 1rem 1rem;
  text-align: center;
  border-bottom: 2px solid #ccc;
}

/* --- Forms --- */

#todo-form,
#edit-form{
  padding: 1rem;
  /* display: flex;
  flex-direction: column; */
  border-bottom: 2px solid #ccc;

  position: relative;
}

#todo-form p,
#edit-form p{
  text-align: center;
  margin-bottom: 1rem;
}

.form-control{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control label{
  font-size: 12px;
}

/* Toolbars */

#toolbar{
  display: flex;
  border-bottom:1px solid #ccc ;
}

#search,
#filter{
  flex: 1;
  padding: 1rem;
}

#toolbar h4{
  text-align: center;
  margin-bottom: 1rem;
}

#search{
  border-right: 1px solid #ccc;
}

#filter select{
  flex: 1;
  margin: 0 auto;
}

/* --- todo-list --- */

#todo-list{
  padding: 1rem .25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#todo-list.hide{
  display: none;
}

.todo{
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  padding: .5rem .5rem;
}

.todo h3{
  width: 50%;
  height: auto;

  font-size: 15px;
}

.done{
  background-color: var(--american-blue);
}

.done h3{
  color: var(--white);
}

/* --- buttons and icons --- */

.form-control button{
  width: 50px;
  height: 30px;
}

button{
  padding: .5rem 1rem;
  background-color: var(--ube);
  color: #fff;
  border: none;

  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;

}

button i{
  color: #fff;
  pointer-events: none;
}

button:hover{
  background-color: #fff;
  color: var(--ube);
  border: 1px solid var(--ube);
}

button:hover i{
  color: var(--ube);
}

#edit-cancel{
  margin: .5rem auto 0;
  width: 100px;
  height: 35px;
}

input[type=text], 
select{
  padding: 0.3rem .6rem;
  margin-right: .3rem;

  height: 30px;
}

.list{
  width: 50px;
  height: 30px;
}